/* You can add global styles to this file, and also import other style files */
// @import "./reset.scss";

.section-container {
  display: grid;
  gap: 20px;
}
section {
  background-color: #ccc;
  padding: 10px 20px;
}
